nodered/openMHAcontrol.flow
[{"id":"71329116.834fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"327c549a.1b1474","type":"ui_group","name":"Record","tab":"7f692d6.05e65d4","order":1,"disp":false,"width":"6","collapse":false},{"id":"7f692d6.05e65d4","type":"ui_tab","name":"Record","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"105c452a.5bdeeb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54644d9b.f5f5bc","type":"ui_group","name":"Play","tab":"874aa9fe.20768","order":2,"disp":true,"width":"6","collapse":false},{"id":"874aa9fe.20768","type":"ui_tab","name":"Play","icon":"dashboard","disabled":false,"hidden":false},{"id":"48cfdbc6.f90534","type":"ui_group","name":"Home","tab":"10fce37c.85a72d","order":2,"disp":true,"width":"6","collapse":false},{"id":"10fce37c.85a72d","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d8280627.c021d","type":"trigger","z":"71329116.834fe","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-200","extend":false,"overrideDelay":false,"units":"ms","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":200,"wires":[[]]},{"id":"3e9b3d88.29d5f2","type":"inject","z":"71329116.834fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":120,"y":60,"wires":[["d8280627.c021d","9a445278.4cefc8"]]},{"id":"9a445278.4cefc8","type":"function","z":"71329116.834fe","name":"Start","func":"msg.payload=\"cmd=start\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":260,"wires":[["6af93378.468fcc"]]},{"id":"6af93378.468fcc","type":"tcp request","z":"71329116.834fe","server":"localhost","port":"33337","out":"sit","splitc":" ","name":"","x":770,"y":420,"wires":[[]]},{"id":"3f68de1d.5046aa","type":"ui_switch","z":"71329116.834fe","name":"","label":"Mic Signal Record","tooltip":"","group":"327c549a.1b1474","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":190,"y":420,"wires":[["9b24a4b0.d37e58","b96b568b.df2ce8"]]},{"id":"9b24a4b0.d37e58","type":"function","z":"71329116.834fe","name":"Record","func":"if (msg.payload === true ){\n    msg.payload=\"mha.transducers.mhachain.wavrec.record=yes\\n\"\n}\nelse{\n    msg.payload=\"mha.transducers.mhachain.wavrec.record=no\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":420,"wires":[["6af93378.468fcc"]]},{"id":"ba3ef1aa.2cd638","type":"debug","z":"71329116.834fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1080,"wires":[]},{"id":"49baa006.d13c38","type":"exec","z":"71329116.834fe","command":"sudo date -s","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":140,"wires":[[],[],[]]},{"id":"4c9efa98.155c74","type":"ui_template","z":"71329116.834fe","group":"327c549a.1b1474","name":"","order":1,"width":0,"height":0,"format":"<script>\nthis.scope.action = function() { \n    var Datum = new Date();\n    return Datum; }\n</script>\n<md-button ng-click=\"send({payload:action()})\">\n    Click to set date on PHL\n</md-button>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":390,"y":80,"wires":[["49baa006.d13c38"]]},{"id":"b96b568b.df2ce8","type":"delay","z":"71329116.834fe","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":540,"wires":[["74225b98.b6f0c4"]]},{"id":"74225b98.b6f0c4","type":"trigger","z":"71329116.834fe","name":"","op1":"false","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":540,"wires":[["3f68de1d.5046aa"]]},{"id":"d611546d.ec296","type":"function","z":"71329116.834fe","name":"Play","func":"if (msg.payload === true ){\n    msg.payload=\"mha.transducers.mhachain.wavplay.select=speech1\\n\"\n    msg.payload+=\"mha.transducers.mhachain.wavplay.speech1.startpos=0\\n\"\n    \n}\nelse{\n    msg.payload=\"mha.transducers.mhachain.wavplay.select=identity\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":920,"wires":[["6af93378.468fcc"]]},{"id":"3f1c17e2.55f898","type":"ui_switch","z":"71329116.834fe","name":"","label":"Play Speech Sample","tooltip":"","group":"54644d9b.f5f5bc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":160,"y":900,"wires":[["d611546d.ec296","899eb77e.01c298"]]},{"id":"899eb77e.01c298","type":"delay","z":"71329116.834fe","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":1040,"wires":[["474e6446.605984"]]},{"id":"474e6446.605984","type":"trigger","z":"71329116.834fe","name":"","op1":"false","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":1040,"wires":[["3f1c17e2.55f898"]]},{"id":"d23b1a3a.6c758","type":"ui_switch","z":"71329116.834fe","name":"","label":"RMS Record","tooltip":"","group":"327c549a.1b1474","order":3,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":170,"y":640,"wires":[["81b03eac.df9628","8a2510da.03b53"]]},{"id":"81b03eac.df9628","type":"function","z":"71329116.834fe","name":"Record","func":"if (msg.payload === true ){\n    msg.payload=\"mha.transducers.mhachain.acrec.record=yes\\n\"\n}\nelse{\n    msg.payload=\"mha.transducers.mhachain.acrec.record=no\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":640,"wires":[["6af93378.468fcc"]]},{"id":"8a2510da.03b53","type":"delay","z":"71329116.834fe","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":760,"wires":[["aed250ad.a5085"]]},{"id":"aed250ad.a5085","type":"trigger","z":"71329116.834fe","name":"","op1":"false","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":760,"wires":[["d23b1a3a.6c758","fe649e39.445738"]]},{"id":"97d95d4a.10ff8","type":"file","z":"71329116.834fe","name":"","filename":"/etc/mahalia/drop.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":920,"y":240,"wires":[[]]},{"id":"44db16e6.dc6e18","type":"ui_dropdown","z":"71329116.834fe","name":"","label":"","tooltip":"","place":"Select option","group":"48cfdbc6.f90534","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Quiet","value":"level1","type":"str"},{"label":"Some background noise","value":"level2","type":"str"},{"label":"Noisy","value":"level3","type":"str"},{"label":"Very loud","value":"level4","type":"str"}],"payload":"","topic":"","topicType":"str","x":580,"y":800,"wires":[["cb378ef1.3e8f","fe649e39.445738"]]},{"id":"cb378ef1.3e8f","type":"switch","z":"71329116.834fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"level1","vt":"str"},{"t":"eq","v":"level2","vt":"str"},{"t":"eq","v":"level3","vt":"str"},{"t":"eq","v":"level4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":750,"y":900,"wires":[["949e5c63.15e6f"],["949e5c63.15e6f"],["949e5c63.15e6f"],["949e5c63.15e6f"]]},{"id":"949e5c63.15e6f","type":"function","z":"71329116.834fe","name":"","func":"if (msg.payload == \"level1\"){\n    msg.payload = 4;\n    msg.topic = \"level1\";\n}\nif (msg.payload == \"level2\"){\n    msg.payload = 12;\n    msg.topic = \"level2\";\n}\nif (msg.payload == \"level3\"){\n    msg.payload = 25;\n    msg.topic = \"level3\";\n}\nif (msg.payload == \"level4\"){\n    msg.payload = 38;\n    msg.topic = \"level4\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":760,"wires":[["cf58110c.4440c","b52bd23b.83be7"]]},{"id":"cf58110c.4440c","type":"ui_gauge","z":"71329116.834fe","name":"","group":"48cfdbc6.f90534","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"","format":"","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":540,"wires":[]},{"id":"fe649e39.445738","type":"trigger","z":"71329116.834fe","name":"","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":700,"wires":[["d23b1a3a.6c758","168e3172.31199f"]]},{"id":"168e3172.31199f","type":"debug","z":"71329116.834fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":580,"wires":[]},{"id":"b52bd23b.83be7","type":"function","z":"71329116.834fe","name":"","func":"datum = new Date();\nmsg.payload = msg.topic;\nmsg.payload += \" at \";\nmsg.payload += datum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":240,"wires":[["97d95d4a.10ff8","bd1a8c55.6191f"]]},{"id":"2f8143ac.956cf4","type":"ui_button","z":"71329116.834fe","name":"","group":"327c549a.1b1474","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":430,"y":220,"wires":[[]]},{"id":"bd1a8c55.6191f","type":"debug","z":"71329116.834fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":340,"wires":[]}]